<a href="https://colab.research.google.com/github/CaptJack05/-Java/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
# Series data

lis = [4,5,2,4,5]

sData = pd.Series(lis)
print(sData)
print(type(sData))

0    4
1    5
2    2
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
data = [5,5,2,5 ,5,2]

no = pd.Series(data, name="PANDAS",dtype="float")

print(no)

0    5.0
1    5.0
2    2.0
3    5.0
4    5.0
5    2.0
Name: PANDAS, dtype: float64

In [5]:
dic = {"name":["hem","amit","Atul", "Deepa"], "age":[21,35,54,23], "Height":[180, 170, 175, 160]}

sData = pd.Series(dic)
print(sData)

name      [hem, amit, Atul, Deepa]
age               [21, 35, 54, 23]
Height        [180, 170, 175, 160]
dtype: object

In [6]:
fixData = pd.Series(32,index = [1,2,3,5])
fixData2 = pd.Series(12,index = [1,3,4,6,2,7,9,5,1])
print(fixData + fixData2)

1    44.0
1    44.0
2    44.0
3    44.0
4     NaN
5    44.0
6     NaN
7     NaN
9     NaN
dtype: float64

In [7]:
#Data Frame

lisDF = [[1,2,3,4,5],[1,2,3,4,5]]
dfLis = pd.DataFrame(lisDF)
print(dfLis)

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5

In [8]:
lisDF2 = {"a":[1,2,3,4,5], "b":[6,7,8,9,10], "c":[11,12,13,14,15],"g":[0,0,0,0,0]}

varDF2 = pd.DataFrame(lisDF2)
print(varDF2)

varDF201 = pd.DataFrame(lisDF2, columns=["a","b"], index=[1,2,3,4,5])
print(varDF201)
print(varDF201["a"][4])

   a   b   c  g
0  1   6  11  0
1  2   7  12  0
2  3   8  13  0
3  4   9  14  0
4  5  10  15  0
   a   b
1  1   6
2  2   7
3  3   8
4  4   9
5  5  10
4

In [9]:
seriesData = {"a": pd.Series([1,2,3,4]), "b":pd.Series(([5,6,7,8]))}

seriesDF = pd.DataFrame(seriesData)
print(seriesDF)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [10]:
varM = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,6,7,8,9]})

varM["c"] = varM["a"]+ varM["b"]
print(varM)
varM["d"] = varM["a"] - varM["b"]
print(varM)
varM["e"] = varM["a"] * varM["b"]
print(varM)
varM["f"] = varM["a"] / varM["b"]
print(varM)

varM["great"] =  varM["f"] > 0.4
print(varM)

   a  b   c
0  1  6   7
1  2  6   8
2  3  7  10
3  4  8  12
4  5  9  14
   a  b   c  d
0  1  6   7 -5
1  2  6   8 -4
2  3  7  10 -4
3  4  8  12 -4
4  5  9  14 -4
   a  b   c  d   e
0  1  6   7 -5   6
1  2  6   8 -4  12
2  3  7  10 -4  21
3  4  8  12 -4  32
4  5  9  14 -4  45
   a  b   c  d   e         f
0  1  6   7 -5   6  0.166667
1  2  6   8 -4  12  0.333333
2  3  7  10 -4  21  0.428571
3  4  8  12 -4  32  0.500000
4  5  9  14 -4  45  0.555556
   a  b   c  d   e         f  great
0  1  6   7 -5   6  0.166667  False
1  2  6   8 -4  12  0.333333  False
2  3  7  10 -4  21  0.428571   True
3  4  8  12 -4  32  0.500000   True
4  5  9  14 -4  45  0.555556   True

## *CSV *

comma seprated values

In [11]:

dfCSV = pd.DataFrame(varM)
print(dfCSV)

dfCSV.to_csv("Test_new.csv")

   a  b   c  d   e         f  great
0  1  6   7 -5   6  0.166667  False
1  2  6   8 -4  12  0.333333  False
2  3  7  10 -4  21  0.428571   True
3  4  8  12 -4  32  0.500000   True
4  5  9  14 -4  45  0.555556   True

In [13]:
!wget https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv

data = pd.read_csv("medical-charges.csv")

data.info()

--2025-07-15 15:52:16--  https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘medical-charges.csv.1’

medical-charges.csv 100%[===================>]  54.32K  --.-KB/s    in 0.008s

2025-07-15 15:52:16 (6.57 MB/s) - ‘medical-charges.csv.1’ saved [55628/55628]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [19]:
data_row = pd.read_csv("medical-charges.csv", nrows =5 )
data_row.info()
print(data_row)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       5 non-null      int64
 1   sex       5 non-null      object
 2   bmi       5 non-null      float64
 3   children  5 non-null      int64
 4   smoker    5 non-null      object
 5   region    5 non-null      object
 6   charges   5 non-null      float64
dtypes: float64(2), int64(2), object(3)
memory usage: 412.0+ bytes
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [23]:
data_coulmn = pd.read_csv("medical-charges.csv" ,usecols=["age"] )
print(data_coulmn)

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1333   50
1334   18
1335   18
1336   21
1337   61

[1338 rows x 1 columns]

In [24]:
data_coulmn = pd.read_csv("medical-charges.csv" ,usecols=[0,3] )
print(data_coulmn)

      age  children
0      19         0
1      18         1
2      28         3
3      33         0
4      32         0
...   ...       ...
1333   50         3
1334   18         0
1335   18         0
1336   21         0
1337   61         0

[1338 rows x 2 columns]

In [25]:
data_coulmn = pd.read_csv("medical-charges.csv" ,skiprows= 4 )
print(data_coulmn)

      33    male  22.705  0   no  northwest  21984.47061
0     32    male   28.88  0   no  northwest    3866.8552
1     31  female   25.74  0   no  southeast    3756.6216
2     46  female   33.44  1   no  southeast    8240.5896
3     37  female   27.74  3   no  northwest    7281.5056
4     37    male   29.83  2   no  northeast    6406.4107
...   ..     ...     ... ..  ...        ...          ...
1329  50    male   30.97  3   no  northwest   10600.5483
1330  18  female   31.92  0   no  northeast    2205.9808
1331  18  female   36.85  0   no  southeast    1629.8335
1332  21  female   25.80  0   no  southwest    2007.9450
1333  61  female   29.07  0  yes  northwest   29141.3603

[1334 rows x 7 columns]